

// color palette - these colors will be the color swatches of the Colors section

$color-1: #b55151;
// #9b1c1f; // Red - Action color
$color-2: #eeeed8; // Beige
$color-3:#3e5079;
// #283a64;
// #132349;
//  #3e5079;
// #1d6b8d; // Blue
$color-4: #b55151;
//  #b59151;
// #3e894e;
// #049468; // Green
$color-5: #ffffff; // White
$color-6: #bcbc84; //tan
$color-black: #000000; //black
$link-color: pink;

// additional colors

$success: $color-4; // Green
$alert: $color-1; // Red
$thread-color: $color-6;

// $color-7: #006666; // Teal

$trans-opacity: E6; // ~90%

$color-1-trans: $color-1 + $trans-opacity;
$color-2-trans: $color-2 + $trans-opacity;
$color-3-trans: $color-3 + $trans-opacity;
$color-4-trans: $color-4 + $trans-opacity;
$color-5-trans: $color-5 + $trans-opacity;
$color-6-trans: $color-6 + $trans-opacity;
$color-black-trans: $color-black + $trans-opacity;
