

// color palette - these colors will be the color swatches of the Colors section

$color-1: #9b1c1f; // Red - Action color
$color-2: #897689; // Purple
$color-3: #34281e; // Brown
$color-4: #006666; // Teal
$color-5: #ffffff; // White

// additional colors

$success: $color-4; // Teal
$alert: $color-1; // Red


