header, .summary {
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: $color-1;
}

header h1 {
    padding-top: 20px;
    margin-bottom: -10px;
}

.intro {
    background-image: url(assets/quilt-sew.svg);
    background-size: 2000px;
}

.summary {
    padding-bottom: 20px;
}

header {
    background-image: url(assets/quilt-sew.svg);
}