$main-width: 75%;
$sidebar-width: 100% - $main-width;

$split-content-width: 50%;
$split-content-height: 40em;

$article-opacity: 75%; 

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: $color-2;
  background-image: url(assets/sdjkfkfdsafjks.svg);
  background-size: cover;
  [role="article"] {
    padding: 1em;
    background-color: $color-3;
    opacity:$article-opacity;
    background-image: url(assets/testsvg.svg);
    background-size: cover;

  }
  [role="article"]:nth-child(odd) {
    background-color: $color-1;
    opacity:$article-opacity;
    background-image: url(assets/jfsasosne.svg);
    background-size: contain;
  }
}

.preamble {
  padding: 1em;
  background-color: $color-3;
  opacity:$article-opacity;
}

.intro {
    background-color: $color-2;
    background-image: url(assets/testsvg.svg);
  background-size: cover;
}

@media (min-width: $M) {
  .page-wrapper {
    width: $main-width;
  }
  .main {
    [role="article"] {
      width: $split-content-width;
      align-self: flex-start;
      min-height: $split-content-height;
    }
    [role="article"]:nth-child(odd) {
    align-self: flex-end;
    }
  }
  .preamble {
    width: $split-content-width;
    min-height: $split-content-height;
  }
}
