$main-width: 75%;
$sidebar-width: 100% - $main-width;

$split-content-width: 50%;
$split-content-height: 40rem;
$mobile-content-height: 30rem;

$article-opacity: 100%; 
$article-gap: 7rem;


#css-zen-garden {
  background-image: url(assets/image2vector.svg);
  background-color: $color-2;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: transparent;
  background-image: url(assets/quilt-sew.svg);
  background-size: 2000px;
}

.main [role="article"], .preamble {
  padding: 1rem;
  background-color: $color-3-trans;
  opacity:$article-opacity;
  min-height: $mobile-content-height;
  margin-bottom: $article-gap;
  box-shadow: none;
  transition: all 1s;
  border: 5px dashed $thread-color;
}


.main [role="article"]:hover, .preamble:hover {
  box-shadow: 0rem 2rem 3rem -1rem $color-black-trans;
  margin-top: -1rem;
  margin-bottom: $article-gap + 1rem;
}

.main [role="article"]:nth-child(odd) {
  background-color: $color-1-trans;
  opacity:$article-opacity;
}

@media (min-width: $M) {
  .page-wrapper {
    width: $main-width;
  }
  .main [role="article"], .preamble {
      width: $split-content-width;
      align-self: flex-start;
      min-height: $split-content-height;
      margin-bottom: 0;
    }
    
    .main [role="article"]:nth-child(odd) {
    align-self: flex-end;
    }
  
    .main [role="article"]:hover, .preamble:hover {
      margin-bottom: 1rem;
    }
}
