.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: $color-2;
  div {
    min-height: 50em;
    padding: 1em;
    background-color: $color-3;
  }
  div:nth-child(odd) {
    background-color: $color-1;
  }
}

.preamble {
  width: 100%;
  padding: 1em;
  background-color: $color-3;
}

@media (min-width: $M) {
  .main {
    div {
      width: 48%;
    }
    div:nth-child(odd) {
      margin-left: 50%;
    }
  }
}
