

.sidebar {
    height: 100%;
    background-color: $color-3;
    padding: 1%;
}


@media (min-width: $M) {
.sidebar {
    height: 100%;
    width: $sidebar-width;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    border-left: 5px dashed $color-6;
    border-top: 5px dashed $color-6;
    }

}