@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Roboto&display=swap');


// fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota', cursive;


h1,
h2,
h3 {
  font-family: $secondary-font;
}

h1,
h2 {
  color: $color-1;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0.4em;

  @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  margin: 1em 0;

  @include MQ(S) {
    font-size: 1.5rem;
    margin: 1em 0 1.4em;
  }
}

h3 {
  margin: 0.5em 0;
  color: $color-2;

  @include MQ(S) {
    font-size: 1.7rem;
    margin: 0.5em 0 1.4em;
  }
}

div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

a {
  color: $color-1;
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: lighten($color-2, 25%);

  @include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}