/*  To update css, navigate to scss folder and use the following in the command line: 
    sass style.scss ../style.css 
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bellota&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3 {
  font-family: "Bellota", cursive;
  font-weight: bold;
  color: #ffc0cb;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1em 0;
}
@media only screen and (min-width: 1024px) {
  h2 {
    margin: 1em 0 1.4em;
  }
}

h3 {
  margin: 0.5em 0;
  font-size: 1.7rem;
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 1.7rem;
    margin: 0.5em 0 1.4em;
  }
}

div {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

a {
  color: #ffc0cb;
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #eeeed8;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

@keyframes sew {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#css-zen-garden {
  background-image: url(assets/image2vector.svg);
  background-color: #eeeed8;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: transparent;
  background-image: url(assets/quilt-sew.svg);
  background-size: 2000px;
}

.main [role=article],
.preamble {
  padding: 1rem;
  background-color: #3e5079E6;
  opacity: 100%;
  min-height: 30rem;
  margin-bottom: 7rem;
  box-shadow: none;
  transition: all 1s;
  border: 5px dashed #bcbc84;
}

.main [role=article]:hover,
.preamble:hover {
  box-shadow: 0rem 2rem 3rem -1rem #000000E6;
  margin-top: -1rem;
  margin-bottom: 8rem;
}

.main [role=article]:nth-child(odd) {
  background-color: #b55151E6;
  opacity: 100%;
}

@media (min-width: 1024px) {
  .page-wrapper {
    width: 75%;
  }

  .main [role=article],
.preamble {
    max-width: 50%;
    min-width: 40rem;
    align-self: flex-start;
    min-height: 40rem;
    margin-bottom: 0;
  }

  .main [role=article]:nth-child(odd) {
    align-self: flex-end;
  }

  .main [role=article]:hover,
.preamble:hover {
    margin-bottom: 1rem;
  }
}
.sidebar {
  height: 100%;
  background-color: #3e5079;
  padding: 1%;
  background-image: url(assets/quilt-sew.svg);
  background-size: 2000px;
}

.design-selection {
  padding-left: 10px;
}

.design-selection li {
  margin-bottom: 1.4em;
}

.design-selection li:nth-child(n) {
  color: #ffc0cb;
  font-family: "Roboto", sans-serif;
}

.design-name {
  display: block;
  margin-bottom: 0.25em;
  font-family: "Bellota", cursive !important;
  font-size: 1.2em;
  color: #eeeed8;
}

.designer-name {
  color: #ffc0cb;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}

.design-archives li, .zen-resources li {
  background-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
  background-repeat: no-repeat;
  padding-left: 40px;
  height: 50px;
}

.design-archives li a, .zen-resources li a {
  color: #eeeed8;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1024px) {
  .sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    border-left: 5px dashed #bcbc84;
    border-top: 5px dashed #bcbc84;
  }
}
header, .summary {
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #b55151;
}

header h1 {
  padding-top: 20px;
  margin-bottom: -10px;
}

.intro {
  background-image: url(assets/quilt-sew.svg);
  background-size: 2000px;
}

.summary {
  padding-bottom: 20px;
}

header {
  background-image: url(assets/quilt-sew.svg);
}

#zen-requirements {
  margin-bottom: 10rem;
}

.requirements p:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 10px -16px 40px -21px;
  padding: 15px;
  background-color: #bd6363;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #b55151;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer a {
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #eeeed8;
  text-align: center;
  transition: background-color 1s;
}
footer a:hover {
  background-color: #943f3f;
}

/*# sourceMappingURL=style.css.map */
