/*  To update css, navigate to scss folder and use the following in the command line: 
    sass style.scss ../style.css 
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bellota&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3 {
  font-family: "Bellota", cursive;
  color: #eeeed8;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5em 0;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    margin: 0.5em 0 1.4em;
  }
}

div {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

section > h2::before {
  /* number before each section title */
  color: #024a34;
}

a {
  color: #9b1c1f;
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: white;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.page-wrapper {
  background-image: url(assets/image2vector.svg);
  background-color: #eeeed8;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: transparent;
  background-size: cover;
}
.main [role=article] {
  padding: 1em;
  background-color: #1d6b8d;
  opacity: 90%;
  background-size: cover;
  margin-bottom: 10em;
}
.main [role=article]:nth-child(odd) {
  background-color: #9b1c1f;
  opacity: 90%;
  background-size: contain;
}

.preamble {
  padding: 1em;
  background-color: #1d6b8d;
  opacity: 90%;
  margin-bottom: 10em;
}

.intro {
  background-size: cover;
}

@media (min-width: 1024px) {
  .page-wrapper {
    width: 75%;
  }

  .main [role=article] {
    width: 50%;
    align-self: flex-start;
    min-height: 40em;
    margin-bottom: 0;
  }
  .main [role=article]:nth-child(odd) {
    align-self: flex-end;
  }

  .preamble {
    width: 50%;
    min-height: 40em;
    margin-bottom: 0;
  }
}
.sidebar {
  height: 100%;
  background-color: #bcbc84;
  padding: 1%;
}

@media (min-width: 1024px) {
  .sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
  }
}
header, .summary {
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #049468;
}

.requirements p:last-child {
  background-color: #049468;
  margin: 10px -16px -16px -16px;
  padding: 15px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #049468;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer a {
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #eeeed8;
  text-align: center;
}
footer a:hover {
  background-color: #036245;
}

@media (min-width: 1024px) {
  .requirements p:last-child {
    position: absolute;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
